@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


a {
    color: #545454;
}


h1, h2, h3, h4 {
    color: black;
    font-weight: 700;
}

body {
    color: #929292;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background:  #f2f2f2;
}


.container {
    display: grid;
    grid-template-areas: 
        "header header header header header"
        ". conteudo . aside ."
        "footer footer footer footer footer";
    grid-template-columns: 140px 12fr 1fr 6fr 140px;  
}

/* header */
.hearder-container {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    background: #fff;
}

.logo{
    margin-left: 140px;
}
.menu-nav {
    width: 40%;
}

.menu-nav ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    list-style: none;
}

/* conteudo */
.conteudo-container {
    grid-area: conteudo;
    margin: 56px 0 64px 0;
}

.card {
    margin-bottom: 40px;
    background: #fff;
}

.post:last-child {
    margin-bottom: 0px;
}

.titulo-info h2 {
    font-size: 24px;
}

.post .data-criador {
    margin-top: 8px;
    font-size: 12px;
}

.img-container img {
    width:100%;
}

.btn {
    font-size: 14px;
    text-align: center;
    padding: 12px 24px;
    margin-left: auto;
    border-radius: 20px;
    cursor: pointer;
}

.btn-continuar-lendo {
    width: 10rem;
    margin-top: 24px;
    border: 1px solid #FE0078;
}

.btn-continuar-lendo:hover,
.btn-continuar-lendo:hover a {
    background-color: #FE0078;
    color: #fff;
}


.post .titulo-info,
.post .descricao-btn-container {
    padding: 24px;
}

/* sidebar */
.aside-container {
    grid-area: aside;
    margin: 56px 0 64px 0;
    background: #fff;
    height: 89rem;
}

.sidebar-container{
    padding: 20px 20px;
}

.sidebar-container input {
    border-radius: 10px;
    border: 1px solid #EEEEEE;
    padding: 17px 20px;
    width: 100%;
}

.sidebar-container input:focus {
    border:1px solid #FE0078;
}

::placeholder {
    font-size: 14px;
}

.sidebar-container,
.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.sidebar-container .categorias {
    margin-top: 25px;
}

.categorias ul {
    list-style: none;
}

.categorias .link-categoria {
    padding: 16px 13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed #EEEEEE;
}

.categorias .link-categoria:hover {
    color:#FE0078;
    border-bottom: 2px dashed #FE0078;
}


.sidebar-container .publicidade {
    margin-top: 40px;
}

.publicidade h2,
.categorias h2 {
    margin-bottom: 40px;
    padding-left: 15px;
    border-left: 3px solid #FE0078;
    font-size: 18px;
}

.publicidade img {
    width: 100%;
}

.publicidade .publi-2 {
    margin: 32px 0;
}

/* footer */
.footer-container {
    color: #fff;
    height: 7;
    grid-area: footer;
    background: #222222;
    padding: 25px 0px;
    text-align: center;
}