button{
    all: unset;
    display: block;
}

.conteudo-container p {
    color: black;
}

.box-contato {
    padding: 24px;
}

.box-contato>p{
    margin: 24px 0 32px 0;
}

.endereco {
    margin-top: 24px;
}

.suporte {
    margin-bottom: 40px;
}

.endereco,
.telefone {
    margin-bottom: 24px;
}

.endereco h4,
.telefone h4,
.suporte h4 {
    display: inline-block;
    vertical-align: super;
    margin-left: 0.5rem;
}

.endereco p,
.telefone p,
.suporte p{
    margin-top: 14px;
}

.inputs-nome-email {
    display: flex;
    margin: 24px 0;
}

.email {
    margin-right: 1.5rem;
}

.email,
.nome {
    width: 100%;
}

form label{
    display: block;
    margin-bottom: 8px;
    color: black;
}

.email input,
.nome input,
.assunto input {
    width: 100%;
    height: 42px;
}

.assunto {
    margin-bottom: 24px;
}


.input-comentario textarea {
    width: 100%;
    height: 176px;
}

.email input,
.nome input,
.assunto input,
.input-comentario textarea {
    resize: none;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
}

.email input:focus,
.nome input:focus,
.assunto input:focus,
.input-comentario textarea:focus{
    border:1px solid #FE0078;
}

.btn-submit {
    margin-top: 48px;
    width: 4.5rem;
    background-color: #FE0078;
    color: white;
}

