*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #545454;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "conteudo aside"
        "footer footer";
    grid-template-columns: 1fr 600px;
    grid-row: 70px 1fr 70px;
}

.hearder-container {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
}

.menu-nav {
    width: 40%;
}

.menu-nav ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 50px;
}


.conteudo-container {
    grid-area: conteudo;
    background-color: brown;
}

.aside-container {
    grid-area: aside;
    background-color: chocolate;
}

.footer-container {
    grid-area: footer;
    height: 70px;
    background-color: darkgoldenrod;
}